@page "/Game"
@page "/Game/{ip}"
@using WebApp.Managers
@using ModelLibrary.Model;
@inject IJSRuntime JsRunTime

<h3>Game</h3>

<p role="status">Ip: @Ip</p>

<p role="status">Balance: @gameManager.GetBalance()</p>

<button class="btn btn-primary" @onclick="@Ping">Ping</button>

@foreach (Purchasable p in gameManager.GetPurchasables())
{
    <button class="btn btn-primary" @onclick="() => {TryBuyPurchasable(p.Id);}">
        @p.Name @p.Price Count:@gameManager.GetPurchaseAmount(p.Id)
    </button>
}
<input type="checkbox" value="@_doDelay" @bind="@_doDelay">
<label>Delay</label>

@code
{
    [Parameter]
    public string Ip { get; set; }
    private bool _doDelay;
    private GameManager gameManager = new GameManager();

    private void Ping()
    {
        gameManager.PingServer();
        Ip = "ping";
    }

    private async void TryBuyPurchasable(int purchasableId)
    {
        if (gameManager.CanBuyPurchasable(purchasableId))
        {
            if (_doDelay)
            {
                await Task.Delay(5000);
            }

            bool success = await gameManager.TryBuyPurchasable(purchasableId);

            if (!success)
            {
                await JsRunTime.InvokeVoidAsync("alert", "Somebody bought something before you!");
            }
        }
        else
        {
            await JsRunTime.InvokeVoidAsync("alert", "Insufficient funds!");
        }
    }

    protected async override void OnInitialized()
    {
        base.OnInitialized();

        gameManager.StateHasChangedEvent += () =>
        {
            InvokeAsync(StateHasChanged);
        };

        gameManager.PongEvent += () =>
        {
            Ip = "Pong";
            InvokeAsync(StateHasChanged);
        };

        await gameManager.ConnectToGame(Ip);
    }
}