@page "/Game"
@page "/Game/{ip}"
@using WebApp.Managers
@using static WebApp.Model.Purchasables


<h3>Game</h3>

<p role="status">Ip: @Ip</p>

<p role="status">Balance: @Balance</p>


<button class="btn btn-primary" @onclick="@StartConnection">Click me</button>
<button class="btn btn-primary" @onclick="@Ping">Ping</button>

@foreach (Purchasable p in Purchasables)
{
    <button class="btn btn-primary">
        @p.Name @p.Price 
    </button>
}
@code 
{
    [Parameter]
    public string Ip { get; set; }

    public int Balance { get; set; } = 0;

    public List<Purchasable> Purchasables { get; set; }

    GameManager gameManager = new GameManager();

    private async Task StartConnection()
    {
        await gameManager.ConnectToGame(Ip);
    }

    private void Ping()
    {
        gameManager.PingServer();
        Ip = "ping";
    }

    protected override void OnInitialized()
    {
        Purchasables = new List<Purchasable>();
        base.OnInitialized();

        gameManager.BalanceUpdateEvent += (balance) =>
        {
            this.Balance = balance;
            InvokeAsync(StateHasChanged);
        };

        gameManager.PongEvent += () =>
        {
            Ip = "Pong";
            InvokeAsync(StateHasChanged);
        };

        gameManager.ReceivePurchasablesEvent += (purchasables) =>
        {
            Purchasables = purchasables;
            InvokeAsync(StateHasChanged);
        };

    }
}