@page "/Game";
@page "/Game/{ip}";
@using ModelLibrary.Model;


<h3>Game</h3>

<p>Ip: @Ip</p>
<p>PingTime: @pingTime ms</p>

<p>Balance: @gameManager.GetBalance()</p>

<button class="btn btn-primary" @onclick="@Ping">Ping</button>

@foreach (Purchasable p in gameManager.GetPurchasables())
{
    <br />
    <button class="btn btn-primary" @onclick="() => {TryBuyPurchasable(p.Id);}">
        @p.Name @p.Price $ Count:@gameManager.GetPurchaseAmount(p.Id)
    </button>
}

<br />

<input type="checkbox" @bind-value="@_doDelay"/>
<label>Delay Length</label>
<input type="number" @bind-value="@_delayLength"/>
